<table>

<% if @parent.nil? %>
	<% @parent = @user %>
<% end %>


<% @self_profile_headers = @parent.profiles.where("made_public_at IS NOT NULL or user_id = " + current_user.id.to_s) %>

<% @self_profile_headers.group(:name).each do |p| %>

<td>
<table>
	<th><%= p.name %></th>

	<% @self_profile_headers.each do |b| %>

		<% if b.name == p.name %>

			<tr><td>
				<% if b.bio =~ /http/ or b.bio =~ /www/ %>
					<table>
					<tr><td>
						<%= link_to b.bio, b.bio  %>
					</td>
					<td>
						<%= link_to 'Link', b %>
					</td>

				<% else %>

					<%= link_to b.bio, b %>


				<% end %>

					<small><br>
						<% if b.made_public_at.nil? %>
						<%= 'Private' %>
						<% else %>
						<%= b.made_public_at.to_date  %>
						<% end %>
					</small>

			</td>

			</tr>

		<% end %>
	<% end %>
</table>
</td>
<% end %>

</table>
