<table>

	<% if @objparent.nil? %>
	<% @objparent = @user %>
	<% end %>


	<% @self_profile_headers = @objparent.profiles.where("made_public_at IS NOT NULL or user_id = " + current_user.id.to_s) %>

	<% @self_profile_headers.group(:name).each do |p| %>

	<td>
		<table>
			<th>
			<%= p.name %>
		</th>

			<% @self_profile_headers.each do |b| %>

			<% if b.name == p.name %>

			<tr>
					<td>
					<% if b.bio =~ /http/ or b.bio =~ /www/ %>


					<%= link_to b.bio[0..25], b.bio  %>

					<%= link_to 'Link', b %>

					<% else %>

					<%= link_to b.bio[0..25], b %>

					<% end %>



					<small><br>
					<% if b.made_public_at.nil? %>
					<%= 'Private' %>
					<% else %>
					<%= b.made_public_at.to_date  %>
					<% end %>
					</small>

					</td>

				</tr>

			<% end %>
			<% end %>
		</table>
	</td>
	<% end %>

</table>
