<hr>
<table>
<h3>


<%= link_to @user.email.first(@user.email.index('@')), @user  %>

</h3>
	
<% @user_profile_headers = @user.profiles %>
		
<% @user_profile_headers.group(:name).where("profiles.made_public_at IS NOT NULL").each do |p| %>
<td>
<table>
	<th><%= p.name %></th>

	
	<% @user_profile_headers.each do |b| %>

		<% if b.name == p.name %>

			<tr><td>

				<%= link_to b.bio, b  %>
		

			</td>

			</tr>

		<% end %>
	<% end %>
</table>
</td>
<% end %>
</table>

<%= link_to "upvote", like_user_path(@user), method: :put %>
<%= link_to "downvote", dislike_user_path(@user), method: :put %>

<%= @user.get_upvotes.size - @user.get_downvotes.size%> <br>