<p id="notice"><%= notice %></p>



	<p>
		<strong>Name:</strong>
		<%= @profile.name %>
	</p>

	<p>
		<strong>Bio:</strong>


					<% if @profile.bio =~ /http/ or @profile.bio =~ /www/ or @profile.bio =~ /\\/ %>

					<%= link_to @profile.bio[0..25], :on_click => system("start " + @profile.bio + ""), :class =>'list-group-item'  %>

					<% else %>

					<%= @profile.bio %>

					<% end %>
	</p>

	<p>
		<strong>Created at:</strong>
		<%= @profile.created_at %>
	</p>

	<p>
		<strong>Made Public at:</strong>
		<% if @profile.made_public_at.nil? == true %>
			<%= 'Not Public'  %>
		<% else %>
			<%= @profile.made_public_at %>
		<% end %>

	</p>

	<p><% @objparent = @profile.profileable_type %>

		<%= link_to 'Back to '+@objparent, @objparent.constantize.find(@profile.profileable_id)  %>|

	<% if @profile.user_id == current_user.id %>
		<%= link_to 'Edit', edit_profile_path(@profile) %> |
		<% end %>

		<%= link_to 'Delete' , @profile, method: :delete, data: {confirm: 'Are you sure you want to delete this profile entry?'} %>

	</p>


<%= link_to "upvote", like_profile_path(@profile), method: :put %>
<%= link_to "downvote", dislike_profile_path(@profile), method: :put %>

<%= @profile.get_upvotes.size - @profile.get_downvotes.size%>

<h2>Comments</h2>

<p><%= link_to 'Add a Comment', new_profile_comment_path(@profile) %></p>

<ul class="comment_list">
  <%= render :partial => 'comments/comment', :collection => @profile.comments.roots %>
</ul>
