
<div class="with-margin-top well col-md-6 col-md-offset-3">
  <h2>Resend confirmation instructions</h2>
  <br/>
  <%= bootstrap_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9") do |f| %>
    <%= devise_error_messages! %>

    <%= f.email_field :email, autofocus: true %>
    <div class="col-sm-9 col-sm-offset-3">
      <%= f.submit "Resend confirmation instructions" %>
    </div>
    
  <% end %>
  
  <div style="clear: both;">
    <%= render "devise/shared/links" %>
  </div>
  
</div>
