<li class="comment">

  <h3><%= comment.subject %></h3>

	<% comment.title %>

  <div class="body">
    <%= comment.body %>
  </div>

  <div>
    <%= 'User: '  %>
    <%= link_to comment.user.email.first(comment.user.email.index('@')), comment.user  %>
    <%= link_to 'Edit Comment', edit_comment_path(comment) %>
  </div>

  <div>
<%=  'Posted ' + time_ago_in_words(comment.created_at) + ' ago' %>
</div>

  <div>
    <% comment.parent_id #for dev%>
  </div>

	<div>
	 <% comment.attributes  #for dev %>
	</div>

  <p><% link_to 'Add a Reply', new_comment_comment_path(comment) %></p>

  <ul class="comment_list">
    <%= render :partial => 'comments/comment',
    :collection => comment.children %>
  </ul>

</li>
<%= link_to "upvote", like_comment_path(comment), method: :put %>
<%= link_to "downvote", dislike_comment_path(comment), method: :put %>

<%= comment.get_upvotes.size - comment.get_downvotes.size%>


<% #http://kconrails.com/2011/01/26/nested-comments-in-ruby-on-rails-controllers-and-views/
%>
