<div class="col-md-4 col-sm-6">
    <div class="panel panel-default">
      <h2><%= link_to problem.statement, problem, :class=>"panel-heading" %></h2>
      <div class="panel-body">
         <div class="list-group">
          <%= problem.location %>
          <%=  problem.published_at %>
          <%= link_to "upvote", like_problem_path(problem), method: :put %>
          <%= link_to "downvote", dislike_problem_path(problem), method: :put %>
          <%= problem.get_upvotes.size - problem.get_downvotes.size%>
        </div>
      </div>
    </div>
</div>
