<%= render 'map' %>
<%= render 'export_form' %>

<div class="container" id="main">
  <div class="row">

  <%= render 'index_newproblem' %>
  <%= render 'search_poblems_input' %>

  </div>

  <div class="text-center">
    <h1>Listing problems</h1>
  </div>

  <div class ="container">
    <%= render @problems %>
  </div>

</div>
