<p id="notice"><%= notice %></p>

	<p>
		<strong>Statement:</strong>
		<%= @problem.statement %>
	</p>

	<p>
		<strong>Body:</strong>
		<%= @problem.body %>
	</p>

	<p>
		<strong>Published at:</strong>
		<%= @problem.published_at %>
	</p>

	<p>
		<strong>Location:</strong>
		<%= @problem.location %>
	</p>


	<%= link_to 'I have this same problem', problems_path(:problem => {:statement => @problem.statement, :body => @problem.body}), :method => 'clone' %>

	<%= link_to 'Edit', edit_problem_path(@problem) %> |

	<%= link_to 'Back', problems_path %>

	<%= render 'profiles/self_profiles' %>


	<%= link_to 'New Profile Entry', new_problem_profile_path(@problem.id)  %>

<p>

		<%= link_to "upvote", like_problem_path(@problem), method: :put %>


	<%= link_to "downvote", dislike_problem_path(@problem), method: :put %>

<%= @problem.get_upvotes.size - @problem.get_downvotes.size%>


</p>

	<%= render 'problem_comments'%>

 	<%= render 'nearby_problems' %>


	<% render 'possible_solutions' %>

	<%= render 'proposed_solutions' %>

	<%= render 'problem_process' %>


