<div class="text-center">
  <% if @user == current_user %>
    <h1>My Profile</h1>
  <% else %>
    <h1>User Profile</h1>
  <% end %>
</div>

<div class="container" id="main">
  <div class="row">



      <% if user_signed_in? %>

        <%= render 'navigation' %>

        <%= render 'profiles/user_profile' %>
        <%= render 'projects/user_projects' %>
        <%= render 'user_comments' %>

      <% end %>



      <% if @user == current_user %>

          <%= render 'user_friendships' %>

          <%= render 'projects/friends_projects' %>

          <%= render 'activities/index'  %>


      <% end %>
 </div>


</div>
