<h1>Simvols</h1>

<table>
  <thead>
    <tr>
      <th>Simvol</th>
  
    </tr>
  </thead>

  <tbody>
    <% @simvols.each do |simvol| %>
      <tr>
        <td><%= simvol.name %></td>
        <td><%= simvol.created_at %></td>
        <td><%= link_to 'Show', simvol %></td>
        <td><%= link_to 'Edit', edit_simvol_path(simvol) %></td>
        <td><%= link_to 'Destroy', simvol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Simvol', new_simvol_path %>
