<p id="notice"><%= notice %></p>

<p>
  <strong>Simvol:</strong>
  <%= @simvol.name %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @simvol.created_at %>
</p>


<%= render 'tagform' %>

<br>


<%= link_to 'Edit', edit_simvol_path(@simvol) %> |
<%= link_to 'Back', '/problems' %>


<h2>Comments</h2>

<p><%= link_to 'Add a Comment', new_simvol_comment_path(@simvol) %></p>

<ul class="comment_list">
  <%= render :partial => 'comments/comment', :collection => @simvol.comments.roots %>
</ul>
