

<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= 'What is the project?' %><br>
    <%= f.text_area :body %>
  </div>

<div>
	<%= 'What why does this solve the problem?' %>
	<%= text_area_tag :solution_abstract %>
</div>

  <div class="field">
    <%= f.text_field :user_id, :value => current_user.id, :type => "hidden" %>
  </div>

<div class="field">
	<%= text_field_tag :problem_id,  params[:problem_id], :type => 'hidden' %>
</div>

  <div class="field">
    <%= f.datetime_field :published_at, :value => Time.now,:type => "hidden" %>
  </div>

   <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


