<% @project = Project.new %>

    <div class="col-md-4 col-sm-6">


  <%= form_for(@project, layout: :horizontal) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %>
        prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


       <div class="well">
             <form class="form-horizontal" role="form">
              <h4>Submit New Project</h4>
               <div class="form-group" style="padding:14px;">

    <%= f.text_field :title, :placeholder=>"Project Title" %>
    <%= f.text_area :body, :placeholder=>"Describe the project" %>


    <%= f.text_field :user_id, :value => current_user.id, :type => "hidden" %>
    <%= f.datetime_field :published_at, :value => Time.now, :type => "hidden" %>


    <%= f.submit %>
</div>
            </form>
        </div>

  <% end %>
      </div>
