<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @project.body %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @project.published_at %>
</p>


<%= link_to 'Back to Projects', projects_path %> | 
<%= link_to 'Edit Project', edit_project_path(@project) %>

<table>
<tr>
	<td colspan="3">
	<%= render 'profiles/self_profiles' %>

	<%= link_to 'New Profile Entry', new_project_profile_path(@project.id)  %>
		</td>
</tr>

<tr>
	<td>
			
		<%= render 'partnerships/project_partnerships' %>
	</td>
	
	<td>
		<%= render 'partnerships/user_partnerships' %>
		
	</td>
	
	<td>
		<% @project.partnerships.each do |r| %>
			<%  if r.user_id = current_user.id and r.role == "Author"  %>
			<%= button_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } %>

			<% end %>
		<% end %>
	</td>
</tr>
	</table>
	
	
<h2>Comments</h2>
 
<p><%= link_to 'Add a Comment', new_project_comment_path(@project) %></p>



<ul class="comment_list">
  <%= render :partial => 'comments/comment', :collection => @project.comments.find_comments_for_commentable("Project",@project.id) %>
</ul>

 

