<div class="container" id="main">
  <div class="row">


  <%= render 'projectCard' %>

  <%= render 'navigation' %>

	<%= render 'profiles/self_profiles' %>

  <%= render 'partnerships/project_partnerships' %>

  <% @obj = @project %>
  <% @type = 'user' %>
  <%= render 'group_memberships/membership'%>

  <%# render 'comments' %>




  </div>
</div>

