<div class="container" id="main">
  <div class="row">


  <%= render 'projectCard' %>

  <%= render 'navigation' %>

	<%= render 'profiles/self_profiles' %>

  <%= render 'partnerships/project_partnerships' %>

  <% @obj = @project %>

  <%= render 'group_memberships/groups'%>

  <%# render 'comments' %>



<%= render 'profiles/usergroup_profile_lists' %>






  </div>
</div>

