<%= form_for(@solution) do |f| %>
  <% if @solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solution.errors.count, "error") %> prohibited this solution from being saved:</h2>

      <ul>
      <% @solution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :problem_id %><br>
    <%= f.number_field :problem_id %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :solution_abstract %><br>
    <%= f.text_area :solution_abstract %>
  </div>
  <div class="field">
    <%= f.label :published_at %><br>
    <%= f.text_field :published_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
